<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.crm.mapper.AssignRecordMapper">
    
    <resultMap type="AssignRecord" id="AssignRecordResult">
        <result property="id"    column="id"    />
        <result property="assignId"    column="assign_id"    />
        <result property="type"    column="type"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="deptId"    column="dept_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="latest"    column="latest"    />
    </resultMap>

    <sql id="selectAssignRecordVo">
        select id, assign_id, type, user_id, user_name, dept_id, create_time, create_by, latest from tb_assign_record
    </sql>

    <select id="selectAssignRecordList" parameterType="AssignRecord" resultMap="AssignRecordResult">
        <include refid="selectAssignRecordVo"/>
        <where>  
            <if test="assignId != null "> and assign_id = #{assignId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="latest != null  and latest != ''"> and latest = #{latest}</if>
        </where>
    </select>
    
    <select id="selectAssignRecordById" parameterType="Long" resultMap="AssignRecordResult">
        <include refid="selectAssignRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAssignRecord" parameterType="AssignRecord" useGeneratedKeys="true" keyProperty="id">
        insert into tb_assign_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="assignId != null">assign_id,</if>
            <if test="type != null">type,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="latest != null">latest,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="assignId != null">#{assignId},</if>
            <if test="type != null">#{type},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="latest != null">#{latest},</if>
         </trim>
    </insert>

    <update id="updateAssignRecord" parameterType="AssignRecord">
        update tb_assign_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="assignId != null">assign_id = #{assignId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="latest != null">latest = #{latest},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateLatest">
        update tb_assign_record set latest=#{lastest} where  assign_id =#{assignId} and type=#{type}
    </update>

    <delete id="deleteAssignRecordById" parameterType="Long">
        delete from tb_assign_record where id = #{id}
    </delete>

    <delete id="deleteAssignRecordByIds" parameterType="String">
        delete from tb_assign_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>